@{
    ViewBag.Title = "About";
}

<h1><b>Jason van der Merwe's biography</b></h1>
<h2><u><i>A biography about me</i></u></h2>
<div class="row" style="background-color:lightgray">
    <div class="col-lg-6">
            <h2>Bio</h2>
        <hr />
        <h3>General Info:</h3>
            <p>I am currentley a Bcom Informatics student at the University of Pretoria with a current running average of 81%. I have a hobby where I upgrade and repair laptops to earn extra money and to broaden my knowledge of computers</p>
            <h3>Societies:</h3>
            <p>In 2022 I have managed to achieve  an invite into:<b><i><u>The Golden Key Society</u></i></b> due to having achieved an average of 81% in my first year.</p>
            <br />
            <h3>Hobbies:</h3>
            <p>I love being outdoors. This includes activities like camping, fishing, hiking, cycling and Enduro biking.</p>
            <br />
            <h3>My future:</h3>
            <p>I will be working hard to create the best opportunities for myself as a software engineer in order to achieve my biggest goal of establishing my own company.</p>
    </div>
    <div class="col-lg-6">
        <h1>A picture of me</h1>
        <img src="@Url.Content("~/Photos/Myself.jpg")" class="img-responsive">
    </div>
</div>

